.container {
    position: absolute;
    left: 0;
    right: 0;
    width: 85%;
    margin: 20px;
    z-index: 2;

    &.top {
      top: -2%;
    }

    &.bottom {
      bottom: 65%;
      left: 0;
      right: 0;

      span {
        position: fixed;
        color: #fff;
        text-align: justify;
        //font-weight: bold;
        font-size: 15px;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        
      }
    }

  }

  ion-slides {
    height: 100%;

    .slide-inner {
      width: 105%;
      left: 0;
      right: 0;
      color: white;
      background: linear-gradient(red, black);
      border-radius: 10px;
    

      ion-item {
        --background: rgba(255, 255, 255, 0.2);
        --border-radius: 10px;

        ion-input {
          --color: #fff
        }
      }
    }
  }

  .homestart {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      height: 55%;
      background: linear-gradient(red,black);

      .logo {
        position: absolute;
        top: -90px;
        left: 0px;
        right: 0px;
        height: 200px;
        margin-top: 150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
        //background-image: url('/assets/img/univesp.png');
        background-size: contain;
        transition: all 0.5s;

      }

    }

