<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Calculo para Aposentadoria</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-card-content">
  <ion-card-content>
    <br>
    <h1>Resumo de Cálculo</h1>
    <br>
    <table>

      <thead>
          <tr>
              <th bgcolor="#d3d3d3" colspan="2" scope="col">INFORMAÇÕES GERAIS</th> 
          </tr>
      </thead>
      <tbody>
          <tr>
              <th scope="row">Sexo</th>
              <td>{{data.sexo}}</td>
          </tr>
          <tr>
              <th scope="row">Idade</th>
              <td>{{data.dIdade}}</td>
          </tr>
          <!--<tr>
            <th scope="row">Tempo de Contribuição</th>
            <td>{{data.tempo}}</td>
        </tr>-->
      </tbody>
  </table>
<br>

<table>
      
  <thead>
      <tr>
          <th bgcolor="#d3d3d3" colspan="2" scope="col">TEMPO DE CONTRIBUIÇÃO ATUAL</th> 
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">Servidor</th>
          <td>{{data.tContrib}}</td>
      </tr>
      <!--<tr>
          <th scope="row">CLT</th>
          <td>{{data.dIdade}}</td>
      </tr>-->
  </tbody>
</table>
<br>

<table>
      
  <thead>
      <tr>
          <th bgcolor="#d3d3d3" colspan="2" scope="col">PENDÊNCIAS PARA APOSENTADORIA</th> 
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">Idade</th>
          <td>{{data.idade}} ano(s), {{data.meses}} mês(es)</td>
      </tr>
      <tr>
          <th scope="row">Contribuição</th>
          <td>{{data.fContrib}}{{data.aContrib}}</td>
      </tr>
  </tbody>
</table>
<br>

<table>
      
  <thead>
      <tr>
          <th bgcolor="#d3d3d3" colspan="2" scope="col">PONTUAÇÃO</th> 
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">Pontuação Atual</th>
          <td>{{data.pontos}}</td>
      </tr>
      <tr>
          <th scope="row">Pontuação Faltante</th>
          <td>{{data.pRestante}}</td>
      </tr>
  </tbody>
</table>
<br>  
<table>
  <thead>
      <tr>
          <th bgcolor="#d3d3d3" colspan="2" scope="col">STATUS DA APOSENTADORIA</th> 
      </tr>
  </thead>
  <tbody>
      <tr>
          <th scope="row">Contribuição</th>
          <td>{{data.tComp}}{{data.sContrib}}</td>
      </tr>
      <tr>
          <th scope="row">Idade</th>
          <td>{{data.tIdade}} {{data.sIdade}}</td>
          
      </tr>
      <tr>
        <th scope="row" style="width: 30%;">Pontuação</th>
        <td>{{data.tPontos}} {{data.sPontos}}</td>
    </tr>
  </tbody>
</table>

  </ion-card-content>
</ion-content>
