<ion-header [translucent]="true">
  <ion-toolbar color="danger" class="titulo-geral">
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculadora Previdênciaria</ion-title>
  </ion-toolbar>

  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" />

      <ng-template #placeholder_avatar>
        <div class="fallback" >
          <p>Select avatar</p>
        </div>
      </ng-template>
    </ion-avatar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Motivação</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-left">
      Esse é um projeto desenvolvido pelos alunos da faculdade UNIVESP,
      turma que iniciou no ano de 2020.

      O tema do Projeto Integrador (PI) neste semestre era Desenvolver um software
      com framework web ou aplicativo que utilize banco de dados, inclua script web
      (Javascript), nuvem, acessibilidade, controle de versão, integração contínua e testes.
      Incluir um dos seguintes requisitos: uso e fornecimento de API, análises de dados e IoT.

      O grupo optou por desenvolver um aplicativo híbrido para ANDROID E IOS utilizando o
      framework IONIC e programando com ANGULAR.

      Esse aplicativo tem o objetivo de calcular o tempo restante para Aposentadoria
      dos professores do Estado de São Paulo, necessidade que foi levantada após pesquisa
      que mostrou várias dúvidas após a alteração das regras de aposentadoria para servidores
      públicos.
    </ion-card-content>
  </ion-card>

 <ion-button (click)="calc()" size="small" expand="full" shape="round">Calcular</ion-button>

</ion-content>
